<html data-namespace-typo3-fluid="true" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="SystemEmail"/>

<f:section name="Title">{headline}</f:section>

<f:section name="Main">
    <f:if condition="{rating}">
        <strong><f:translate key="mail.rating.date" extensionName="PartnerRating" />:</strong>
        <f:format.date format="{dateFormat}">{rating.ratingDate}</f:format.date><br>
        <strong><f:translate key="mail.rating.rateValue" extensionName="PartnerRating" />:</strong>
        {rating.rateValue}<br>
        <strong><f:translate key="mail.rating.partner" extensionName="PartnerRating" />:</strong>
        {rating.partner.title} ({rating.partner.partnerNr})<br>
        <f:if condition="{rating.reason}">
            <strong><f:translate key="mail.rating.reasons" extensionName="PartnerRating" />:</strong><br>
            <ul>
                <f:for each="{rating.reason}" as="reason">
                    <li>
                        <strong><f:translate key="mail.rating.reason" extensionName="PartnerRating" />:</strong>
                        {reason.title}<br>
                        <strong><f:translate key="mail.rating.description" extensionName="PartnerRating" />:</strong>
                        {reason.description -> f:format.stripTags()}
                    </li>
                </f:for>
            </ul>
        </f:if>
        <f:if condition="{rating.reasonText}">
            <strong><f:translate key="mail.rating.reasonText" extensionName="PartnerRating" />:</strong>
            {rating.reasonText}<br>
        </f:if>
        <f:if condition="{user.uid} > 0">
            <strong><f:translate key="mail.rating.user" extensionName="PartnerRating" />:</strong>
            <f:if condition="{user.first_name} && {user.last_name}">
                <f:then>{user.first_name} {user.last_name}</f:then>
                <f:else>{user.username}</f:else>
            </f:if>
        </f:if>
    </f:if>
</f:section>
</html>
