<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:section name="Default">
    <div class="wrapper-action d-flex justify-content-between">
        <f:link.action action="list" additionalAttributes="{'tabindex': '-1'}" class="btn btn-outline-secondary btn-sm">
            <f:translate key="back"/>
        </f:link.action>
        <f:form.submit value="{f:translate(key: 'submit')}" class="btn btn-primary btn-sm"/>
    </div>
</f:section>
</html>