<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:section name="Default">
    <div class="wrapper-partner">
        <div class="input-group input-group-search">
            <label class="input-group-text" for="partnerSearch-{data.uid}">
                <f:translate key="partner.title"/>
            </label>
            <f:form.textfield class="form-control partnerSearch" id="partnerSearch-{data.uid}" name="partnerSearch" placeholder="{f:translate(key: 'partner.searchPlaceholder')}" value="{values.partnerSearch}"/>
            <span class="input-group-text searchTooltip"><abbr class="initialism" title="{f:translate(key: 'partner.searchTooltip')}">?</abbr></span>
        </div>
        <div class="input-group input-group-partner">
            <f:form.select additionalAttributes="{data-validation: '{f:translate(key: \'validation.partner\')}'}" class="form-select" id="partner-{data.uid}" property="partner" required="required" size="6">
                <f:form.select.option selected="selected" value="0">
                    <f:translate key="partner.choosePartner"/>
                </f:form.select.option>
            </f:form.select>
        </div>
    </div>
</f:section>
</html>