<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:section name="Default">
    <div class="wrapper-rating">
        <div class="wrapper-rating-items">
            <label>
                <f:translate key="rating.title"/>
            </label>
            <f:for as="rating" each="{ratingValues}">
                <div class="form-check rating-item">
                    <f:form.radio additionalAttributes="{required: required}" class="form-check-input" id="radioRating-{data.uid}-{rating}" property="rateValue" value="{rating}"/>
                    <label class="form-check-label" for="radioRating-{data.uid}-{rating}">{rating}</label>
                </div>
            </f:for>
        </div>
    </div>
</f:section>
</html>
