<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:section name="Default">
    <div class="wrapper-reason" data-validation="{f:translate(key:'validation.reason')}">
        <f:if condition="!({settings.allowMultipleReasons})">
            <f:render section="NoneReason" arguments="{_all}"/>
        </f:if>
        <f:render section="PredefinedReason" arguments="{_all}"/>
        <f:render section="ReasonText" arguments="{_all}"/>
    </div>
</f:section>

<f:comment><!-- No Reason --></f:comment>
<f:section name="NoneReason">
    <f:comment><!-- No reason --></f:comment>
    <div class="form-check reason-none">
        <f:if condition="!({values.reason})">
            <f:variable name="checked" value="checked"/>
        </f:if>
        <f:variable name="value" value="0"/>
        <f:variable name="id" value="reason-{data.uid}-0"/>
        <f:variable name="label" value="{f:translate(key: 'reason.none')}"/>
        <f:render section="CheckRadioElement" arguments="{checked:checked, value:value, id:id, label:label}"/>
    </div>
</f:section>

<f:comment><!-- Reason Text --></f:comment>
<f:section name="ReasonText">
    <f:comment><!-- Free text reason --></f:comment>
    <f:variable name="id" value="reasonText-{data.uid}"/>
    <f:if condition="!({settings.allowMultipleReasons})">
        <f:then>
            <div class="form-check reason-text">
                <f:if condition="{values.reason} == -1">
                    <f:variable name="checked" value="checked"/>
                </f:if>
                <f:variable name="value" value="-1"/>
                <f:variable name="label">
                    <f:translate key="reasonText.title"/>
                    <f:form.textarea property="reasonText" disabled="disabled" value="{values.reasonText}" class="form-control" rows="2"/>
                </f:variable>
                <f:render section="CheckRadioElement" arguments="{checked:checked, value:value, id:id, label:label}"/>
            </div>
        </f:then>
        <f:else>
            <label for="{id}"><f:translate key="reasonText.title"/></label>
            <f:form.textarea property="reasonText" id="{id}" value="{values.reasonText}" class="form-control" rows="2"/>
        </f:else>
    </f:if>
</f:section>

<f:comment><!-- Predefined Reasons --></f:comment>
<f:section name="PredefinedReason">
    <f:comment><!-- Predefined reasons for current department --></f:comment>
    <div class="form-check reason-predefined">
        <f:for each="{reasons}" as="reason" iteration="iterator">
            <f:if condition="{reason.uid} == {values.reason}">
                <f:variable name="checked" value="checked"/>
            </f:if>
            <f:variable name="value" value="{reason.uid}"/>
            <f:variable name="id" value="reason-{data.uid}-{reason.uid}"/>
            <f:variable name="label">
                <span class="title">{reason.title}</span><br>
                <span class="description">{reason.description -> f:format.html()}</span>
            </f:variable>
            <f:render section="CheckRadioElement" arguments="{checked:checked, value:value, id:id, label:label}"/>
            <f:if condition="!({iterator.isLast})"><br></f:if>
        </f:for>
    </div>
</f:section>

<f:section name="CheckRadioElement">
    <f:if condition="{settings.allowMultipleReasons}">
        <f:then>
            <f:form.checkbox value="{value}" property="reason" multiple="1" id="{id}" class="form-check-input"/>
        </f:then>
        <f:else>
            <f:form.radio value="{value}" property="reason" id="{id}" class="form-check-input"/>
        </f:else>
    </f:if>
    <label class="form-check-label" for="{id}">{label -> f:format.raw()}</label>
</f:section>
</html>