<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:section name="Default">
    <div class="wrapper-form">
        <f:form action="show" arguments="{department : department}" controller="Rating" data="{dataAttributes}" method="post" name="rating" object="{rating}">
            <f:render arguments="{_all}" partial="FormRating/Partner" section="Default"/>
            <f:render arguments="{_all}" partial="FormRating/Rating" section="Default"/>
            <f:render arguments="{_all}" partial="FormRating/Reason" section="Default"/>
            <f:render arguments="{_all}" partial="FormRating/Action" section="Default"/>
        </f:form>
    </div>
</f:section>
</html>