<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:section name="Default">
    <f:if condition="{savedRating}">
        <div class="wrapper-alert">
            <div class="alert alert-success alert-dismissible fade show saved-rating-alert" role="alert">
                <div class="wrapper-inner">
                    <div class="alert-title">
                        <f:translate key="save.title"/>
                    </div>
                    <div class="alert-partner-title">
                        <span><f:translate key="partner.title"/></span>
                    </div>
                    <div class="alert-save-message">
                        <f:translate key="save.message" arguments="{0: '{savedRating.partner.title}', 1: '{savedRating.rateValue}'}"/>
                    </div>
                    <div class="alert-reason">
                        <f:if condition="{savedRating.reason}">
                            <f:switch expression="{savedRating.reason -> f:count()}">
                                <f:case value="0"/>
                                <f:case value="1">
                                    <div class="alert-reason-title">
                                        <span><f:translate key="reason.title"/>:</span> {savedRating.reason.0.title}
                                    </div>
                                </f:case>
                                <f:defaultCase>
                                    <div class="alert-reason-title">
                                        <span><f:translate key="reasons.title"/>:</span><br>
                                        <f:for each="{savedRating.reason}" as="reason" iteration="iterator">
                                            {reason.title}
                                            <f:if condition="!({iterator.isLast})"><br></f:if>
                                        </f:for>
                                    </div>
                                </f:defaultCase>
                            </f:switch>
                        </f:if>
                        <f:if condition="{savedRating.reasonText} != ''">
                            <div class="alert-reason-text">
                                <span><f:translate key="reasonText.title"/>: </span>
                                <f:format.html>{savedRating.reasonText}</f:format.html>
                            </div>
                        </f:if>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" tabindex="-1"></button>
            </div>
        </div>
    </f:if>
</f:section>
</html>