/**
 * Add you styles here
 */
header {
  margin-top: 1rem;
  text-align: center;
}

.tx_partnerrating .list-department .list-group .list-group-item {
  margin-right: auto;
  margin-left: auto;
}
.tx_partnerrating .list-department .list-group .list-group-item .btn {
  width: 300px;
}
.tx_partnerrating .show-department {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tx_partnerrating .show-department .headline {
  text-align: center;
  color: var(--bs-primary);
}
.tx_partnerrating .show-department .subheadline {
  text-align: center;
}
.tx_partnerrating .show-department .wrapper-alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
}
.tx_partnerrating .show-department .wrapper-alert .alert.alert-success .wrapper-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.tx_partnerrating .show-department .wrapper-alert .alert.alert-success .wrapper-inner span {
  font-weight: bold;
}
.tx_partnerrating .show-department .wrapper-form {
  margin-right: auto;
  margin-left: auto;
}
.tx_partnerrating .show-department .wrapper-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-partner .input-group-search label {
  border-bottom-left-radius: unset;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-partner .input-group-search .partnerSearch::placeholder {
  font-size: small;
  color: var(--bs-secondary);
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-partner .input-group-search .searchTooltip {
  border-bottom-right-radius: unset;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-partner .input-group-partner select {
  border-top: 0 none;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-partner .input-group-partner select option {
  font-size: small;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-partner .input-group-partner select option:first-child {
  color: var(--bs-secondary);
  font-style: italic;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-rating {
  margin: 1rem 0;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-rating .wrapper-rating-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-rating .wrapper-rating-items .rating-item {
  margin: 0 auto;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-reason .reason-text label {
  padding-right: 1.5em;
  width: 100%;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-reason .reason-text label textarea {
  width: 100%;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-reason .reason-predefined label .description {
  color: var(--bs-secondary);
  font-size: small;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-reason .reason-predefined label .description p {
  margin-bottom: unset;
}
.tx_partnerrating .show-department .wrapper-form form .wrapper-action {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid var(--bs-secondary);
}

/*# sourceMappingURL=main.css.map */
