<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="Main">
    <f:if condition="{departments -> f:count()} > 0">
        <f:then>
            <div class="list-department">
                <ul class="list-group list-group-flush">
                    <f:for as="department" each="{departments}">
                        <li class="list-group-item">
                            <f:link.action action="show" arguments="{department:department}" class="btn btn-lg btn-primary">
                                {department.title}
                            </f:link.action>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{data.pages}">
                <f:then>
                    <f:translate key="department.notFound"/>
                </f:then>
                <f:else>
                    <f:translate key="pages.notFound"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>
</html>