<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="Main">
    <f:asset.script identifier="tx_partnerrating_pi1.show" src="{settings.javaScriptFile}"/>
    <div class="show-department">
        <h2 class="headline">{department.title}</h2>
        <f:render arguments="{_all}" partial="SaveRating" section="Default"/>
        <h3 class="subheadline small">
            <f:translate key="form.title"/>
        </h3>
        <f:render arguments="{_all}" partial="FormPartner" section="Default"/>
    </div>
</f:section>
</html>