<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:layout name="Default"/>
<f:section name="Main">
    <f:asset.script identifier="identifier123" src="EXT:partner_rating/Resources/Public/JavaScript/main.js"/>
    <h1>{department.title}</h1>
    <f:if condition="{savedRating}">
        <div>
            <h2><f:translate key="save.title"/></h2>
            <p>
                <strong><f:translate key="partner.title"/>:</strong>
                <f:translate key="save.message" arguments="{0: '{savedRating.partner.title}', 1: '{savedRating.rateValue}'}" />
            </p>
            <f:if condition="{savedRating.reason} || {savedRating.reasonText} != ''">
                <f:if condition="{savedRating.reason}">
                    <p><strong><f:translate key="reason.title"/>:</strong> {savedRating.reason.title}</p>
                </f:if>
                <f:if condition="!({savedRating.reason}) && {savedRating.reasonText} != ''">
                    <p><strong><f:translate key="reasonText.title"/>:</strong></p>
                    <f:format.html>{savedRating.reasonText}</f:format.html>
                </f:if>
            </f:if>
        </div>
    </f:if>
    <h2><f:translate key="form.title"/></h2>
    <f:form action="save">
        <f:form.hidden name="department" value="{department.uid}"/>
        <div>
            <label for="partner"><f:translate key="partner.title"/></label><br>
            <f:form.textfield name="partnerSearch" value="{values.partnerSearch}"/>
            <f:form.select name="partner" id="partner" size="10" required="required" additionalAttributes="{data-validation:'{f:translate(key: \'validation.partner\')}'}">
                <f:form.select.option value="0"/>
                <f:for each="{partners}" as="partner">
                    <f:if condition="{partner.uid} == {values.partner}">
                        <f:then>
                            <f:form.select.option value="{partner.uid}" selected="selected">{partner.title}
                            </f:form.select.option>
                        </f:then>
                        <f:else>
                            <f:form.select.option value="{partner.uid}">{partner.title}</f:form.select.option>
                        </f:else>
                    </f:if>
                </f:for>
            </f:form.select>
        </div>
        <div>
            <label for="rating"><f:translate key="rating.title"/></label><br>
            <f:form.select name="rating" id="rating" required="required" size="5">
                <f:for each="{0:1, 1:2, 2:3, 3:4, 4:5}" as="rating">
                    <f:if condition="{rating} == {values.rating}">
                        <f:then>
                            <f:form.select.option value="{rating}" selected="selected">{rating}</f:form.select.option>
                        </f:then>
                        <f:else>
                            <f:form.select.option value="{rating}">{rating}</f:form.select.option>
                        </f:else>
                    </f:if>
                </f:for>
            </f:form.select>
        </div>
        <div>
            <f:comment><!-- No reason --></f:comment>
            <f:if condition="!({values.reason})">
                <f:then>
                    <f:form.radio value="0" name="reason" id="reason-0" checked="checked" additionalAttributes="{data-validation:'{f:translate(key: \'validation.reason\')}'}"/>
                </f:then>
                <f:else>
                    <f:form.radio value="0" name="reason" id="reason-0" additionalAttributes="{data-validation:'{f:translate(key: \'validation.reason\')}'}"/>
                </f:else>
            </f:if>
            <label for="reason-0"><f:translate key="reason.none"/></label><br>

            <f:comment><!-- Free text reason --></f:comment>
            <f:if condition="{values.reason} == -1">
                <f:then>
                    <f:form.radio value="-1" name="reason" id="reasonText" checked="checked"/>
                </f:then>
                <f:else>
                    <f:form.radio value="-1" name="reason" id="reasonText"/>
                </f:else>
            </f:if>
            <label for="reasonText">
                <f:translate key="reasonText.title"/>:
                <f:form.textarea name="reasonText" disabled="disabled" value="{values.reasonText}"/>
            </label><br>

            <f:comment><!-- Predefined reasons for current department --></f:comment>
            <f:for each="{reasons}" as="reason">
                <f:if condition="{reason.uid} == {values.reason}">
                    <f:then>
                        <f:form.radio value="{reason.uid}" name="reason" id="reason-{reason.uid}" checked="checked"/>
                    </f:then>
                    <f:else>
                        <f:form.radio value="{reason.uid}" name="reason" id="reason-{reason.uid}"/>
                    </f:else>
                </f:if>
                <label for="reason-{reason.uid}">
                    {reason.title}<br>
                    <f:format.html>{reason.description}</f:format.html>
                </label><br>
            </f:for>
        </div>
        <div>
            <f:form.submit value="{f:translate(key: 'submit')}"></f:form.submit>
        </div>
    </f:form>
    <f:link.action action="list"><f:translate key="back"/></f:link.action>
</f:section>
</html>